{% extends "layouts/base-site-fullscreen_self.html" %}

{% block title %} Search {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <div class="card card-login">

      <form class="form" method="post" action="">
        
        {{ form.hidden_tag() }}

        <div class="card-header text-center" style="padding: 5px;">
          <h4 class="card-title">Search products</h4>
          <p class="category">Using visual semantics</p>
        </div>

        <p class="description text-center">
          {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>   
          {% endif %}
        </p>

        <div class="card-body" style="margin-top: 100px">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">search</i>
              </span>
            </div>
            {{ form.query(class="form-control", placeholder="What product are you looking for?", rows="1") }}
            </div>
        </div>

        <div class="text-center" style="margin-top: 25px">
          <!--a href="/results" name="search" class="btn btn-primary">Search</a-->
          <button type="submit" name="search" class="btn">Search</button>
        </div>

      </form>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
