
  <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
                <a href="https://appseed.us/apps/flask-apps/flask-material-kit">
                  Product visual search
                </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <a href="https://www.creative-tim.com" target="_blank">alexblg</a> - Coded by Alexandre Boulenger
        </div>
      </div>
  </footer>
 
